:root {
  --white: #ffffff;
  --green: #24B23E;
  --black: #000000;
  --gray: #828B8D;
  --red: #B91C1C;
  --pink: #FEE2E2;

  --dark-green: #047857;
  --light-green: #D1FAE5;
  --light-gray: #CED4D7;
  --most-light-gray: #E9EBED;
}

:root {
  --primary-color: var(--dark-green);
  --secondary-color: var(--black);
  --error-color: var(--red);

}